.productCard .textPart {
    transition: transform 3s ease-out;
}

.productCard:hover .textPart {
    transform: translateY(-0.1rem);
    background-color: #ffe4e6;
    padding: 15px;
}

.productCard:hover {    
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transform: scale(1.05); 
    border: 3px solid #34495e;
}
